@page
@using Newtonsoft.Json
@using Kendo.Mvc.UI
@model VehicleManagement.Pages.Vehicles.SearchVehicleEstimateModel
@* @{
} *@



<div id="kt_app_content" class="app-content flex-column-fluid">
    <div class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
        <!--begin::Title-->
        <h1 class="page-heading d-flex text-dark fw-bold fs-2 flex-column justify-content-center my-0">Search Vehicle Estimate</h1>
        <span class="h-20px border-gray-300 border-start mx-4"></span>
        <!--end::Title-->
        <!--begin::Breadcrumb-->
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0">
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a href="/" class="text-dark text-hover-primary">Home</a>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-400 w-5px h-2px"></span>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item">
                <a href="#" class="text-dark text-hover-primary">Vehicle Estimate</a>
            </li>
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-400 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item nav-link">
                <a href="/Vehicles/SearchVehicleEstimate" class="text-dark text-hover-primary">Search Vehicle Estimate</a>
            </li>

        </ul>

    </div>
    @(
            Html.Kendo().PanelBar()

            .Name("panelbar")

            .ExpandMode(PanelBarExpandMode.Single)

            .Items(panelbar =>

            {

                panelbar.Add().Text("Search")

            .Expanded(true)

            .Selected(true)

            .Content(@<div class="dashbox shadow bg-white">
        <div class="row d-flex">


            <div class="col-sm-3 mb-4">
                <label class="form-label fw-bold">Vehicle Series</label>
                @(Html.Kendo().DropDownList()
                .Name("series")
                .DataTextField("Name")   // The text to display in the dropdown
                .DataValueField("ID")    // The value to send to the backend when an option is selected
                .BindTo(Model.Options)   // Binding the data from the backend
                .OptionLabel("Select an option") // Placeholder label
                )
            </div>
            <div class="col-sm-3 mb-4">
                <label class="form-label fw-bold">Vehicle Description</label>
                @(Html.Kendo().DropDownList()
                .Name("description")
                .DataTextField("Name")   // The text to display in the dropdown
                .DataValueField("ID")    // The value to send to the backend when an option is selected
                .BindTo(Model.Options)   // Binding the data from the backend
                .OptionLabel("Select an option") // Placeholder label
                )
            </div>
            <div class="col-sm-3 mb-4">
                <label class="form-label fw-bold">Engine</label>
                @(Html.Kendo().DropDownList()
                .Name("engine")
                .DataTextField("Name")   // The text to display in the dropdown
                .DataValueField("ID")    // The value to send to the backend when an option is selected
                .BindTo(Model.Options)   // Binding the data from the backend
                .OptionLabel("Select an option") // Placeholder label
                )
            </div>
            <div class="col-sm-3 mb-4">
                <label class="form-label fw-bold">Transmission</label>
                @(Html.Kendo().DropDownList()
                .Name("transmission")
                .DataTextField("Name")   // The text to display in the dropdown
                .DataValueField("ID")    // The value to send to the backend when an option is selected
                .BindTo(Model.Options)   // Binding the data from the backend
                .OptionLabel("Select an option") // Placeholder label
                )
            </div>
            <div class="col-sm-3 mb-4">
                <label class="form-label fw-bold">Vehicle Differential</label>
                @(Html.Kendo().DropDownList()
                .Name("vd")
                .DataTextField("Name")   // The text to display in the dropdown
                .DataValueField("ID")    // The value to send to the backend when an option is selected
                .BindTo(Model.Options)   // Binding the data from the backend
                .OptionLabel("Select an option") // Placeholder label
                )
            </div>
            <div class="col-sm-3 mb-4">
                <label class="form-label fw-bold">Vehicle Make</label>
                @(Html.Kendo().DropDownList()
                .Name("vmake")
                .DataTextField("Name")   // The text to display in the dropdown
                .DataValueField("ID")    // The value to send to the backend when an option is selected
                .BindTo(Model.Options)   // Binding the data from the backend
                .OptionLabel("Select an option") // Placeholder label
                )
            </div>
            <div class="col-sm-3 mb-4">
                <label class="form-label fw-bold">Vehicle Model</label>
                @(Html.Kendo().DropDownList()
                .Name("vmodel")
                .DataTextField("Name")   // The text to display in the dropdown
                .DataValueField("ID")    // The value to send to the backend when an option is selected
                .BindTo(Model.Options)   // Binding the data from the backend
                .OptionLabel("Select an option") // Placeholder label
                )
            </div>
            <div class="col-sm-3 mb-4">
                <label class="form-label fw-bold">Year</label>
                @(Html.Kendo().DropDownList()
                .Name("year")
                .DataTextField("Name")   // The text to display in the dropdown
                .DataValueField("ID")    // The value to send to the backend when an option is selected
                .BindTo(Model.Options)   // Binding the data from the backend
                .OptionLabel("Select an option") // Placeholder label
                )
            </div>
        </div>
        <div class="text-end">
            @* <a href="#" id="search" class="btn btn-blue px-4 h-40px " type="button" data-toggle="collapse" data-target="#collapseExample">Search</a> *@
            @(Html.Kendo().Button()
            .Name("search") // Sets the name for the button
            .Content("Search") // The text displayed on the button
            .HtmlAttributes(new { id = "search", @class = "btn btn-blue px-4 h-40px", type = "button", data_toggle = "collapse", data_target = "#collapseExample" })
            // .Events(e => e.Click("onSearchClick")) // Optional: attach a click event
            )
        </div>
    </div>

            );

                panelbar.Add().Text("Search Results")

            .Expanded(false)

            .Selected(false)

            .Content(@<div class="card  mt-2 mb-5 collapse" id="collapseExample">
        <!--begin::Card body-->
        @(Html.Kendo().Grid(Model.Vehicles)
        .Name("Grid")
        .Columns(columns =>
        {
        columns.Bound(p => p.Make).Title("Make").Width(130);
        columns.Bound(p => p.Model).Title("Model").Width(130);
        columns.Bound(p => p.Year).Title("Units In Stock").Width(130);
        columns.Bound(p => p.VIN).Width(130);
        columns.Bound(p => p.Color).Width(130);
        columns.Bound(p => p.CreatedDate).Format("{0:MM/dd/yyyy}").Width(130);
        })
        .Pageable()
        .Sortable()
        .Scrollable(scr => scr.Height(430))
        .Filterable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(5)
        .ServerOperation(false)
        )
        )

    </div>

            );

                panelbar.Add().Text("Add Vehicle")

            .Expanded(false)

            .Selected(false)

            .Content(@<div class="card  mt-2 mb-5 " id="addv">
        <div class="col-md-12">
            <div class="card border mb-3 rounded-0">
                @* 				<div class="card-header bg-darkblue rounded-0">
                <h2 class="card-title fw-bolder fs-2 text-white">Add Vehicle Estimate</h2>
                </div> *@
                <div class="card-body pt-3 rounded-0">
                    <p class="text-end text-red mb-1">* indicates mandatory</p>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label class="form-label fw-bold">Vehicle:</label>
                            @(Html.Kendo().TextBox()
                            .Name("vehicleEmail") // Name of the TextBox
                            .Placeholder("Enter Vehicle") // Placeholder text
                            .HtmlAttributes(new { @class = "form-control", type = "email" }) // Set the class and type
                            )


                        </div>
                        <div class="col-lg-6">
                            <label class="form-label fw-bold">Make:</label>
                            @(Html.Kendo().TextBox()
                            .Name("make") // Name of the TextBox
                            .Placeholder("Enter Make") // Placeholder text
                            .HtmlAttributes(new { @class = "form-control" }) // Set the class and type
                            )

                        </div>
                    </div>
                    <div class="form-group row mt-5">
                        <div class="col-lg-6">
                            <label class="form-label fw-bold">Model: </label>
                            @(Html.Kendo().TextBox()
                            .Name("model") // Name of the TextBox
                            .Placeholder("Enter Model") // Placeholder text
                            .HtmlAttributes(new { @class = "form-control" }) // Set the class and type
                            )
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label fw-bold">Year:</label>
                            @(Html.Kendo().TextBox()
                            .Name("Year") // Name of the TextBox
                            .Placeholder("Enter Year") // Placeholder text
                            .HtmlAttributes(new { @class = "form-control" }) // Set the class and type
                            )
                        </div>

                    </div>
                    <div class="form-group row mt-5">

                        <div class="col-lg-6">
                            <label class="form-label fw-bold">Engine: <span class="text-red">*</span></label>
                            @(Html.Kendo().TextBox()
                            .Name("engine") // Name of the TextBox
                            .Placeholder("Enter Engine") // Placeholder text
                            .HtmlAttributes(new { @class = "form-control" }) // Set the class and type
                            )
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label fw-bold">Transmission: <span class="text-red">*</span></label>
                            @(Html.Kendo().TextBox()
                            .Name("transmission") // Name of the TextBox
                            .Placeholder("Enter Transmission") // Placeholder text
                            .HtmlAttributes(new { @class = "form-control" }) // Set the class and type
                            )
                        </div>
                    </div>

                    <div class="form-group row mt-5">

                        <div class="col-lg-6">
                            <label class="form-label fw-bold">Differential: <span class="text-red">*</span></label>
                            @(Html.Kendo().TextBox()
                            .Name("Differential") // Name of the TextBox
                            .Placeholder("Enter Differential") // Placeholder text
                            .HtmlAttributes(new { @class = "form-control" }) // Set the class and type
                            )
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label fw-bold">Project Description: <span class="text-red">*</span></label>
                            @(Html.Kendo().TextBox()
                            .Name("Description") // Name of the TextBox
                            .Placeholder("Enter Project Description") // Placeholder text
                            .HtmlAttributes(new { @class = "form-control" }) // Set the class and type
                            )
                        </div>
                    </div>


                    <div class="mt-5">
                        @* <a href="#" class="btn btn-red px-7 me-5 h-40px">

                        </a> *@
                        @* <span class="indicator-label text-white">Cancel</span> *@
                        @(Html.Kendo().Button()
                        .Name("cancel")
                        .Content("Cancel")
                        .HtmlAttributes(new { @class = "btn btn-red px-7 me-5" })
                        )

                        @(Html.Kendo().Button()
                        .Name("save")
                        .Content("Save")
                        .HtmlAttributes(new { @class = "btn btn-blue" })
                        )

                        @* <a href="search-vehicle.html" class="btn btn-blue px-10 h-40px" id="btnShow">
                        <span class="indicator-label">Save</span>


                        </a> *@


                    </div>

                </div>
            </div>




        </div>
        <!--end::Col-->

    </div>
        );

            }));







</div>

@section scripts {
    <script>
        $(document).ready(function () {

            $("#search").on("click", function () {
                // Get the Kendo PanelBar widget
                var panelBar = $("#panelbar").data("kendoPanelBar");

                // Expand the second panel (index 1 since it's zero-based)
                panelBar.expand($("li:nth-child(2)", panelBar.element));
            });
            var dataSource = new kendo.data.DataSource({
                data: [
                    { ID: 1, Name: "Option 1" },
                    { ID: 2, Name: "Option 2" },
                    { ID: 3, Name: "Option 3" },
                    // More cities...
                ],
                sort: { field: "Name", dir: "asc" }
            });

            $("#series").kendoDropDownList({
                filter: "contains",
                optionLabel: 'Please select...',
                dataTextField: "Name",
                dataValueField: "ID",
                dataSource: dataSource
            });
            $("#description").kendoDropDownList({
                filter: "contains",
                optionLabel: 'Please select...',
                dataTextField: "Name",
                dataValueField: "ID",
                dataSource: dataSource
            });
            $("#engine").kendoDropDownList({
                filter: "contains",
                optionLabel: 'Please select...',
                dataTextField: "Name",
                dataValueField: "ID",
                dataSource: dataSource
            });
            $("#vd").kendoDropDownList({
                filter: "contains",
                optionLabel: 'Please select...',
                dataTextField: "Name",
                dataValueField: "ID",
                dataSource: dataSource
            });
            $("#transmission").kendoDropDownList({
                filter: "contains",
                optionLabel: 'Please select...',
                dataTextField: "Name",
                dataValueField: "ID",
                dataSource: dataSource
            });
            $("#vmodel").kendoDropDownList({
                filter: "contains",
                optionLabel: 'Please select...',
                dataTextField: "Name",
                dataValueField: "ID",
                dataSource: dataSource
            });
            $("#vmake").kendoDropDownList({
                filter: "contains",
                optionLabel: 'Please select...',
                dataTextField: "Name",
                dataValueField: "ID",
                dataSource: dataSource
            });
            $("#year").kendoDropDownList({
                filter: "contains",
                optionLabel: 'Please select...',
                dataTextField: "Name",
                dataValueField: "ID",
                dataSource: dataSource
            });
            $(document).ready(function () {
                $("#kt_app_header_menu").kendoMenu();
                $("#search").kendoButton({
                    themeColor: "primary",
                    enable: true,
                    icon: "search"
                });


            });
        });
    </script>
}